---
import Hero from "@/components/sections/services/Hero.astro";
import WebDevelopment from "@/assets/images/web-development.svg";
import Web from "@/assets/images/web.png";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout pageTitle="Chatbots Inteligentes">
  <Hero
    title="Tu Presencia Digital Hecha Realidad"
    description="Convierte visitantes en clientes con un sitio web profesional, funcional y optimizado para el éxito."
    image={WebDevelopment}
    alt="Imagen de portada"
  />
  <section>
    <div class="overflow-hidden bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-4 lg:px-8 content-center">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="lg:pt-4 lg:pr-8">
            <div class="lg:max-w-lg">
              <h2 class="text-base/7 font-semibold text-[#E51F52]">
                Conoce el servicio
              </h2>
              <p
                class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
              >
                ¿Qué es nuestro Servicio de Diseño y Desarrollo Web?
              </p>
              <p>
                Tu sitio web es la puerta de entrada a tu negocio en línea. Nos
                especializamos en crear sitios web profesionales, adaptables y
                optimizados para convertir visitantes en clientes fieles. Ya sea
                que necesites una página simple o una plataforma compleja con
                múltiples funcionalidades, estamos aquí para ayudarte.
              </p>
              <dl
                class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none"
              >
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg
                      class="absolute top-1 left-1 size-5 text-[#E51F52]"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      data-slot="icon"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Adaptabilidad:
                  </dt>
                  <dd class="inline">
                    Diseño responsive (adaptable a móviles y tablets).
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg
                      class="absolute top-1 left-1 size-5 text-[#E51F52]"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      data-slot="icon"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Integración:
                  </dt>
                  <dd class="inline">
                    Integración con herramientas como CRM, sistemas de reservas
                    y más.
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg
                      class="absolute top-1 left-1 size-5 text-[#E51F52]"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      data-slot="icon"
                    >
                      <path
                        d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z"
                      ></path>
                      <path
                        fill-rule="evenodd"
                        d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Fácil de encontrar:
                  </dt>
                  <dd class="inline">
                    Optimización SEO para mejorar tu visibilidad en buscadores.
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg
                      class="absolute top-1 left-1 size-5 text-[#E51F52]"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      data-slot="icon"
                    >
                      <path
                        d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z"
                      ></path>
                      <path
                        fill-rule="evenodd"
                        d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Páginas que venden:
                  </dt>
                  <dd class="inline">
                    Tiendas online con gestión avanzada de inventario y
                    programas de fidelización.
                  </dd>
                </div>
              </dl>
            </div>
          </div>
          <Image
            src={Web}
            alt="Product screenshot"
            class="w-[48rem] max-w-none rounded-xl ring-1 shadow-xl ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
            width={2432}
            height={1442}
          />
        </div>
      </div>
    </div>
  </section>
  <section class="bg-gray-100">
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-4 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
          <h2 class="text-base/7 font-semibold text-[#E51F52]">
            ¿Cómo Funciona?
          </h2>
          <p
            class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance"
          >
            Nuestro Proceso de Diseño y Desarrollo
          </p>
          <p class="mt-6 text-lg/8 text-gray-600">
            Un enfoque claro y colaborativo para crear tu sitio web ideal.
          </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
          >
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div
                  class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-[#E51F52]"
                >
                  <svg
                    class="size-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"
                    ></path>
                  </svg>
                </div>
                Análisis inicial
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                Comprendemos tus objetivos, público objetivo y requisitos
                técnicos.
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div
                  class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-[#E51F52]"
                >
                  <svg
                    class="size-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
                    ></path>
                  </svg>
                </div>
                Diseño UX/UI
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                Creamos prototipos y maquetas que reflejan la identidad de tu
                marca.
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div
                  class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-[#E51F52]"
                >
                  <svg
                    class="size-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
                    ></path>
                  </svg>
                </div>
                Desarrollo técnico
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                Implementamos las funcionalidades necesarias y optimizamos el
                rendimiento.
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div
                  class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-[#E51F52]"
                >
                  <svg
                    class="size-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33"
                    ></path>
                  </svg>
                </div>
                Pruebas y ajustes
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                Probamos exhaustivamente el sitio antes del lanzamiento para
                asegurarnos de que todo funcione perfectamente.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-16">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Transforma tu idea en un sitio web exitoso con estos simples pasos.
        </h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400">
          Trabaja directamente con nuestros expertos para definir el diseño y
          las funcionalidades.
        </p>
      </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0"
      >
        <div>
          <div
            class="flex items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900"
          >
            <svg
              class="w-[64px] h-[64px] text-[#E51F52]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z"></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Contáctanos</h3>
          <p class="text-gray-500 dark:text-gray-400">
            Cuéntanos sobre tu proyecto y tus necesidades específicas.
          </p>
        </div>
        <div>
          <div
            class="flex items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900"
          >
            <svg
              class="w-[64px] h-[64px] text-[#E51F52]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M3 15v3c0 .5523.44772 1 1 1h10.5M3 15v-4m0 4h11M3 11V6c0-.55228.44772-1 1-1h16c.5523 0 1 .44772 1 1v5M3 11h18m0 0v1M8 11v8m4-8v8m4-8v2m1 4h2m0 0h2m-2 0v2m0-2v-2"
              ></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Elige un plan</h3>
          <p class="text-gray-500 dark:text-gray-400">
            Selecciona entre nuestros planes Básico, Intermedio o Avanzado según
            tus requerimientos.
          </p>
        </div>
        <div>
          <div
            class="flex items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900"
          >
            <svg
              class="w-[64px] h-[64px] text-[#E51F52]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M13.5713 5h7v9h-7m-6.00001-4-3 4.5m3-4.5v5m0-5h3.00001m0 0h5m-5 0v5m-3.00001 0h3.00001m-3.00001 0v5m3.00001-5v5m6-6 2.5 6m-3-6-2.5 6m-3-14.5c0 .82843-.67158 1.5-1.50001 1.5-.82843 0-1.5-.67157-1.5-1.5s.67157-1.5 1.5-1.5 1.50001.67157 1.50001 1.5Z"
              ></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Explícanos tu idea
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Cuéntanos sobre ti y lo que tienes pensado para tu sitio web.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <svg
              class="w-[64px] h-[64px] text-[#E51F52]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="1"
                d="M13.2131 9.78732c-.6359-.63557-1.4983-.99259-2.3974-.99259-.89911 0-1.76143.35702-2.39741.99259l-3.4253 3.42528C4.35719 13.8485 4 14.7108 4 15.61c0 .8992.35719 1.7616.99299 2.3974.63598.6356 1.4983.9926 2.39742.9926.89912 0 1.76144-.357 2.39742-.9926l.32157-.3043m-.32157-4.4905c.63587.6358 1.49827.993 2.39747.993.8991 0 1.7615-.3572 2.3974-.993l3.4243-3.42528c.6358-.63585.993-1.49822.993-2.39741 0-.89919-.3572-1.76156-.993-2.39741C17.3712 4.357 16.509 4 15.6101 4c-.899 0-1.7612.357-2.397.9925l-1.0278.96062m7.3873 14.04678-1.7862-1.7862m0 0L16 16.4274m1.7864 1.7863 1.7862-1.7863m-1.7862 1.7863L16 20"
              ></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Lanza tu sitio web
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Una vez finalizado, publicaremos tu sitio y te capacitaremos para
            gestionarlo fácilmente.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="overflow-hidden bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-4 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
          <h2 class="text-base/7 font-semibold text-[#E51F52]">
            Preguntas Frecuentes
          </h2>
          <p
            class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance"
          >
            Desarrollo web: ¡Todo lo que Necesitas Saber!
          </p>
          <p class="mt-6 text-lg/8 text-gray-600">
            ¿Tienes preguntas sobre el servicio? ¡Tenemos respuestas! Aquí te
            despejamos las dudas más comunes sobre nuestro servicio de
            desarrollo web y cómo pueden revolucionar tu negocio.
          </p>
        </div>
      </div>
      <div class="container max-w-4xl mx-auto my-16">
        <div
          id="accordion-flush"
          data-accordion="collapse"
          data-active-classes="bg-white dark:bg-gray-900 text-[#E51F52] dark:text-white"
          data-inactive-classes="text-gray-800 dark:text-gray-400"
        >
          <h3 id="accordion-flush-heading-1">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-900 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-1"
              aria-expanded="true"
              aria-controls="accordion-flush-body-1"
            >
              <span>¿Cuánto tiempo toma desarrollar un sitio web?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-1"
            class="hidden"
            aria-labelledby="accordion-flush-heading-1"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                Depende del alcance del proyecto, pero generalmente los
                proyectos básicos tardan entre 2 y 4 semanas, mientras que los
                más complejos pueden tomar hasta 8 semanas.
              </p>
            </div>
          </div>
          <h3 id="accordion-flush-heading-2">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-2"
              aria-expanded="false"
              aria-controls="accordion-flush-body-2"
            >
              <span>¿Ofrecen mantenimiento después del lanzamiento?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-2"
            class="hidden"
            aria-labelledby="accordion-flush-heading-2"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                Sí, ofrecemos planes de mantenimiento para garantizar que tu
                sitio web permanezca actualizado y seguro.
              </p>
            </div>
          </div>
          <h3 id="accordion-flush-heading-3">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-3"
              aria-expanded="false"
              aria-controls="accordion-flush-body-3"
            >
              <span>¿Pueden integrar mi sitio web con otras herramientas??</span
              >
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-3"
            class="hidden"
            aria-labelledby="accordion-flush-heading-3"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                ¡Claro! Podemos integrar tu sitio con CRMs, sistemas de
                reservas, plataformas de email marketing y más.
              </p>
            </div>
          </div>
          <h3 id="accordion-flush-heading-4">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-4"
              aria-expanded="false"
              aria-controls="accordion-flush-body-4"
            >
              <span>¿Qué pasa si necesito cambios después del lanzamiento?</span
              >
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-4"
            class="hidden"
            aria-labelledby="accordion-flush-heading-4"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                No hay problema. Ofrecemos paquetes de soporte post-lanzamiento
                para implementar cualquier cambio o mejora que necesites.
              </p>
            </div>
          </div>
          <h3 id="accordion-flush-heading-5">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-5"
              aria-expanded="false"
              aria-controls="accordion-flush-body-5"
            >
              <span>¿Incluyen hosting y dominio?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-5"
            class="hidden"
            aria-labelledby="accordion-flush-heading-5"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                Sí, ofrecemos hosting y registro de dominio durante el primer
                año como parte de nuestros planes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></Layout
>
