---
import { Image } from "astro:assets";
const {
  title,
  description,
  image,
  bgColor = "#bcbcbc", // Color de fondo por defecto: gris claro
  textColor = "#000000", // Color de texto por defecto: negro
} = Astro.props;
---

<section
  class="relative h-screen flex items-center justify-center"
  style={{ backgroundColor: bgColor }}
>
  <div class="absolute inset-0">
    <Image
      src={image}
      alt={title}
      class="object-cover w-full h-full"
      width={600}
      height={400}
    />
    <div class="absolute inset-0 bg-black opacity-50"></div>
    {/* Capa oscura para mejor legibilidad del texto */}
  </div>

  <div class="relative z-10 text-center px-6">
    <h1 class="text-5xl font-bold mb-4" style={{ color: textColor }}>
      {title}
    </h1>
    <p class="text-2xl mb-8" style={{ color: textColor }}>
      {description}
    </p>
    {/* Puedes añadir un botón u otros elementos aquí */}
  </div>
</section>
