---
export interface Props {
  text: string;
  link: string;
}
const { text, link } = Astro.props;
---
<section class="w-full bg-[#E51F52] py-12 md:py-16 flex justify-center items-center">
  <a href={link} class="px-8 py-4 bg-white text-[#E51F52] font-bold rounded-lg shadow hover:bg-[#E51F52] hover:text-white transition-colors text-xl">
    {text}
  </a>
</section> 