---
export interface Props {
  benefits: Array<{
    title: string;
    description: string;
  }>;
  mainImage?: {
    url: string;
    alt: string;
  };
}
const { benefits, mainImage } = Astro.props;
---

<section class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-4 lg:px-8 content-center">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pt-4 lg:pr-8">
        <div class="lg:max-w-lg">
          <h2 class="text-base/7 font-semibold text-[#E51F52] mb-2">Beneficios Clave</h2>
          <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">¿Por qué este servicio es tan genial?</p>
          <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none">
            {benefits.map((b, i) => (
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <span class="absolute top-1 left-1 size-5 text-[#E51F52]">✓</span>
                  {b.title}:
                </dt>
                <dd class="inline"> {b.description}</dd>
              </div>
            ))}
          </dl>
        </div>
      </div>
      {mainImage && (
        <div>
          <img src={mainImage.url} alt={mainImage.alt} class="w-[48rem] max-w-none rounded-xl ring-1 shadow-xl ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442" loading="lazy" />
        </div>
      )}
    </div>
  </div>
</section> 