/* Color Theme Swatches in Hex */
.Sign-the-letter-D-1-hex {
  color: #d90d58;
}
.Sign-the-letter-D-2-hex {
  color: #f23d7f;
}
.Sign-the-letter-D-3-hex {
  color: #f28db2;
}
.Sign-the-letter-D-4-hex {
  color: #f2bbcf;
}
.Sign-the-letter-D-5-hex {
  color: #f2f2f2;
}

/* Color Theme Swatches in RGBA */
.Sign-the-letter-D-1-rgba {
  color: rgba(216, 13, 87, 1);
}
.Sign-the-letter-D-2-rgba {
  color: rgba(242, 60, 127, 1);
}
.Sign-the-letter-D-3-rgba {
  color: rgba(242, 140, 177, 1);
}
.Sign-the-letter-D-4-rgba {
  color: rgba(242, 186, 206, 1);
}
.Sign-the-letter-D-5-rgba {
  color: rgba(242, 242, 242, 1);
}

/* Color Theme Swatches in HSLA */
.Sign-the-letter-D-1-hsla {
  color: hsla(337, 88, 45, 1);
}
.Sign-the-letter-D-2-hsla {
  color: hsla(337, 87, 59, 1);
}
.Sign-the-letter-D-3-hsla {
  color: hsla(337, 79, 75, 1);
}
.Sign-the-letter-D-4-hsla {
  color: hsla(337, 68, 84, 1);
}
.Sign-the-letter-D-5-hsla {
  color: hsla(0, 0, 95, 1);
}

/* Color Theme Swatches in Hex */
.color-theme_Recurso-14x-1-hex {
  color: #f28d95;
}
.color-theme_Recurso-14x-2-hex {
  color: #f21d56;
}
.color-theme_Recurso-14x-3-hex {
  color: #d91a60;
}
.color-theme_Recurso-14x-4-hex {
  color: #f2f2f2;
}
.color-theme_Recurso-14x-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.color-theme_Recurso-14x-1-rgba {
  color: rgba(242, 141, 149, 1);
}
.color-theme_Recurso-14x-2-rgba {
  color: rgba(242, 29, 86, 1);
}
.color-theme_Recurso-14x-3-rgba {
  color: rgba(217, 26, 96, 1);
}
.color-theme_Recurso-14x-4-rgba {
  color: rgba(242, 242, 242, 1);
}
.color-theme_Recurso-14x-5-rgba {
  color: rgba(13, 13, 13, 1);
}

/* Color Theme Swatches in HSLA */
.color-theme_Recurso-14x-1-hsla {
  color: hsla(355, 79, 75, 1);
}
.color-theme_Recurso-14x-2-hsla {
  color: hsla(343, 89, 53, 1);
}
.color-theme_Recurso-14x-3-hsla {
  color: hsla(338, 78, 47, 1);
}
.color-theme_Recurso-14x-4-hsla {
  color: hsla(0, 0, 94, 1);
}
.color-theme_Recurso-14x-5-hsla {
  color: hsla(0, 0, 5, 1);
}
