---
import Hero from "@/components/sections/services/Hero.astro";
import ChatbotConcept from "@/assets/images/chatbot-concept.png";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import { Image } from "astro:assets";
---

<DefaultLayout pageTitle="Publicidad Online con Inteligencia Artificial">
  <Hero
    title="¡Haz que tu Marca Exploté en Internet!"
    description="Creamos experiencias digitales que convierten espectadores en clientes fieles. Con nuestra tecnología impulsada por inteligencia artificial, llevamos tus campañas publicitarias al siguiente nivel."
    publicId="ads-campaigns_jqbe7h"
    alt="Imagen de portada"
  />
  <section>
    <div class="overflow-hidden bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-4 lg:px-8 content-center">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="lg:pt-4 lg:pr-8">
            <div class="lg:max-w-lg">
              <h2 class="text-base/7 font-semibold text-[#E51F52]">
                Beneficios Clave
              </h2>
              <p
                class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
              >
                Descubre cómo nuestras campañas inteligentes pueden transformar
                tu negocio
              </p>
              <p>
                Si estás cansado de gastar dinero en publicidad sin resultados
                tangibles, llegó el momento de cambiar las reglas del juego.
                Nuestro equipo de expertos utiliza IA para analizar datos,
                predecir comportamientos y optimizar tus campañas en tiempo
                real. Así, no solo alcanzas a tu audiencia ideal, sino que
                también maximizas tu retorno de inversión (ROI).
              </p>
              <dl
                class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none"
              >
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg
                      class="absolute top-1 left-1 size-5 text-[#E51F52]"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Precisión Láser:
                  </dt>
                  <dd class="inline">
                    La IA analiza millones de datos para encontrar a tu
                    audiencia perfecta. No más disparos al aire; ahora apuntas
                    directamente al blanco.
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg
                      class="absolute top-1 left-1 size-5 text-[#E51F52]"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Optimización en Tiempo Real :
                  </dt>
                  <dd class="inline">
                    Tus campañas se ajustan automáticamente según el
                    rendimiento, asegurando que siempre obtengas los mejores
                    resultados.
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg
                      class="absolute top-1 left-1 size-5 text-[#E51F52]"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Ahorro Inteligente:
                  </dt>
                  <dd class="inline">
                    Maximiza tu presupuesto eliminando gastos innecesarios y
                    enfocándote en lo que realmente funciona.
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg
                      class="absolute top-1 left-1 size-5 text-[#E51F52]"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Creatividad Potenciada:
                  </dt>
                  <dd class="inline">
                    Diseñamos anuncios impactantes que no solo llaman la
                    atención, sino que también generan engagement y
                    conversiones.
                  </dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg
                      class="absolute top-1 left-1 size-5 text-[#E51F52]"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Resultados Medibles:
                  </dt>
                  <dd class="inline">
                    Informes claros y detallados que te muestran exactamente
                    cómo está funcionando tu inversión.
                  </dd>
                </div>
              </dl>
            </div>
          </div>
          <Image
            src="https://res.cloudinary.com/dkb9jfet8/image/upload/v1740096440/publicidad-online-ia_a3p1nu.png"
            alt="Product screenshot"
            class="w-[48rem] max-w-none rounded-xl ring-1 shadow-xl ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
            width={2432}
            height={1442}
          />
        </div>
      </div>
    </div>
  </section>
  <section class="bg-gray-100">
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-4 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
          <h2 class="text-base/7 font-semibold text-[#E51F52]">
            ¿Cómo Funciona?
          </h2>
          <p
            class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance"
          >
            Un proceso avanzado que parece magia, pero es pura ciencia
          </p>
          <p class="mt-6 text-lg/8 text-gray-600">
            Convertimos datos en decisiones estratégicas mediante un sistema
            inteligente que entiende, predice y optimiza tus campañas. Así lo
            hacemos:
          </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
          >
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div
                  class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-[#E51F52]"
                >
                  <svg
                    class="size-6 text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"></path>
                  </svg>
                </div>
                Análisis Predictivo
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                Utilizamos IA para estudiar el comportamiento de tu audiencia y
                predecir sus acciones futuras. Sabemos quién es tu cliente ideal
                antes de que haga clic.
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div
                  class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-[#E51F52]"
                >
                  <svg
                    class="size-6 text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-width="1.5"
                      d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
                    ></path>
                  </svg>
                </div>
                Segmentación Inteligente
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                Dividimos tu audiencia en grupos específicos basados en
                intereses, comportamientos y datos demográficos. Cada grupo
                recibe un mensaje personalizado.
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div
                  class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-[#E51F52]"
                >
                  <svg
                    class="size-6 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
                    ></path>
                  </svg>
                </div>
                Optimización Automática
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                La IA ajusta tus campañas en tiempo real, redistribuyendo el
                presupuesto hacia los canales y estrategias más efectivas.
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div
                  class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-[#E51F52]"
                >
                  <svg
                    class="size-6 text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M10 3v4a1 1 0 0 1-1 1H5m8 7.5 2.5 2.5M19 4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Zm-5 9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
                    ></path>
                  </svg>
                </div>
                Monitoreo y Reportes
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                Recibes informes semanales con métricas clave, análisis profundo
                y recomendaciones estratégicas para mejorar aún más.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-16">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          ¿A Quién Va Dirigido Este Servicio?
        </h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400">
          Cualquier negocio que quiera brillar en el mundo digital puede
          beneficiarse de nuestras campañas inteligentes
        </p>
      </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0"
      >
        <div>
          <div
            class="flex items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900"
          >
            <svg
              class="w-[64px] h-[64px] text-[#E52F51] dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z"
              ></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">E-Commerce</h3>
          <p class="text-gray-500 dark:text-gray-400">
            Aumenta tus ventas online con anuncios dirigidos a compradores
            potenciales y remarketing para recuperar carritos abandonados.
          </p>
        </div>
        <div>
          <div
            class="flex items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900"
          >
            <svg
              class="w-[64px] h-[64px] text-[#E52F51] dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-width="1"
                d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              ></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Emprendedores Ambiciosos
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Si estás comenzando y necesitas visibilidad rápida, nuestras
            campañas te ayudarán a destacar en un mercado competitivo.
          </p>
        </div>
        <div>
          <div
            class="flex items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900"
          >
            <svg
              class="w-[64px] h-[64px] text-[#E52F51] dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="1"
                d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
              ></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Pequeñas y Medianas Empresas
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Optimiza tu presupuesto publicitario y genera leads calificados sin
            gastar de más.
          </p>
        </div>
        <div>
          <div
            class="flex items-center mb-4 rounded-full bg-primary-100 dark:bg-primary-900"
          >
            <svg
              class="w-[64px] h-[64px] text-[#E52F51] dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M6 4h12M6 4v16M6 4H5m13 0v16m0-16h1m-1 16H6m12 0h1M6 20H5M9 7h1v1H9V7Zm5 0h1v1h-1V7Zm-5 4h1v1H9v-1Zm5 0h1v1h-1v-1Zm-3 4h2a1 1 0 0 1 1 1v4h-4v-4a1 1 0 0 1 1-1Z"
              ></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Grandes Corporaciones
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Escala tus campañas a nivel nacional o internacional con estrategias
            personalizadas y tecnologías avanzadas.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="overflow-hidden bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-4 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
          <h2 class="text-base/7 font-semibold text-[#E51F52]">
            Preguntas Frecuentes
          </h2>
          <p
            class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance"
          >
            Aquí respondemos las dudas más comunes sobre nuestro servicio.
          </p>
          <p class="mt-6 text-lg/8 text-gray-600">
            ¿Tienes preguntas sobre el servicio? ¡Tenemos respuestas! Aquí te
            despejamos las dudas más comunes sobre nuestros servicios de
            Publicidad Online con Inteligencia Artificial y cómo pueden
            revolucionar tu negocio.
          </p>
        </div>
      </div>
      <div class="container max-w-4xl mx-auto my-16">
        <div
          id="accordion-flush"
          data-accordion="collapse"
          data-active-classes="bg-white dark:bg-gray-900 text-[#E51F52] dark:text-white"
          data-inactive-classes="text-gray-800 dark:text-gray-400"
        >
          <h3 id="accordion-flush-heading-1">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-900 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-1"
              aria-expanded="true"
              aria-controls="accordion-flush-body-1"
            >
              <span> ¿Qué plataformas utilizan para la publicidad?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-1"
            class="hidden"
            aria-labelledby="accordion-flush-heading-1"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                Trabajamos con las principales plataformas digitales, como
                Google Ads, Meta Ads (Facebook e Instagram), LinkedIn Ads y
                TikTok Ads. Elegimos las mejores opciones según tus objetivos.
              </p>
            </div>
          </div>
          <h3 id="accordion-flush-heading-2">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-2"
              aria-expanded="false"
              aria-controls="accordion-flush-body-2"
            >
              <span
                >¿Necesito tener experiencia previa en publicidad digital?</span
              >
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-2"
            class="hidden"
            aria-labelledby="accordion-flush-heading-2"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                ¡Para nada! Nos encargamos de todo, desde el diseño de la
                estrategia hasta la ejecución y optimización. Solo necesitas
                estar listo para ver resultados.
              </p>
            </div>
          </div>
          <h3 id="accordion-flush-heading-3">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-3"
              aria-expanded="false"
              aria-controls="accordion-flush-body-3"
            >
              <span>¿Cuánto tiempo tardan en mostrar resultados?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-3"
            class="hidden"
            aria-labelledby="accordion-flush-heading-3"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                Los resultados iniciales suelen verse en las primeras semanas,
                pero las campañas más efectivas requieren al menos 2-3 meses
                para alcanzar su máximo potencial.
              </p>
            </div>
          </div>
          <h3 id="accordion-flush-heading-4">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-4"
              aria-expanded="false"
              aria-controls="accordion-flush-body-4"
            >
              <span>¿Qué pasa si no estoy satisfecho con los resultados?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-4"
            class="hidden"
            aria-labelledby="accordion-flush-heading-4"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                Nos tomamos muy en serio tu satisfacción. Si algo no funciona
                como esperabas, ajustamos la estrategia hasta que alcancemos los
                resultados deseados.
              </p>
            </div>
          </div>
          <h3 id="accordion-flush-heading-5">
            <button
              type="button"
              class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
              data-accordion-target="#accordion-flush-body-5"
              aria-expanded="false"
              aria-controls="accordion-flush-body-5"
            >
              <span>¿Ofrecen servicios de remarketing?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div
            id="accordion-flush-body-5"
            class="hidden"
            aria-labelledby="accordion-flush-heading-5"
          >
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                ¡Claro que sí! El remarketing es una de nuestras especialidades.
                Traemos de vuelta a los usuarios que visitaron tu sitio web o
                interactuaron con tus anuncios.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
