@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-accent: #e51f52;
  --secondary-accent: #007bff;
  --textos: #878c9c;
  --titulos: #27282d;
  --menu: #27282d; /* Color del texto del menú, asegúrate de que tenga buen contraste con el fondo */
  --blanco: #ffffff;
  --body-background: #fcfcfc;
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden !important;
  overflow-y: visible;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family:
    'Roboto', Arial, Helvetica, sans-serif, 'DejaVu Sans', 'Liberation Sans';
  background-color: var(--body-background);
  color: var(--textos);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}
h1,
h2 {
  color: var(--titulos);
}

h3,
h4,
h5,
h6 {
  color: var(--titulos);
}

h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.75rem;
  margin-top: 1.25rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

h5 {
  font-size: 1.25rem;
  margin-top: 0.75rem;
}

h6 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 1rem;
}

/* Estilos para encabezados DENTRO del contenido del blog */
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.blog-content h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

/* ... estilos específicos para cada encabezado */

/* Estilos para párrafos DENTRO del contenido del blog */
.blog-content p {
  margin-bottom: 1rem;
  line-height: 1.6;
}
.blog-content h2 + p,
.blog-content h3 + p,
.blog-content h4 + p,
.blog-content h5 + p,
.blog-content h6 + p {
  margin-top: 1rem;
}

.blog-content .author p {
  margin-bottom: -0.1rem;
  margin-left: 1rem;
  line-height: 1.6;
}
/* Estilos para listas DENTRO del contenido del blog */
.blog-content ul,
.blog-content ol {
  list-style-type: decimal;
  margin-bottom: 1rem;
  padding-left: 20px;
}

.blog-content li {
  list-style-type: disc;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.blog-content ul li::marker {
  font-size: 2rem;
  color: var(--primary-accent);
}

/* Estilos para enlaces DENTRO del contenido del blog */
.blog-content a {
  color: var(
    --titulos
  ); /* Un azul más oscuro (ajusta el color a tu preferencia) */
  text-decoration: underline; /* Subrayado constante */
  font-weight: 300; /* Letra delgada (ajusta el valor según tu fuente) */
  transition:
    color 0.3s ease,
    font-weight 0.3s ease; /* Transición suave para el hover */
}

.blog-content a:hover {
  color: var(--primary-accent); /* Un azul aún más oscuro al hacer hover */
  font-weight: 600; /* Negrita al hacer hover */
}

/*Estilos para las imagenes dentro del blog*/
.blog-content img {
  max-width: 100%;
  height: auto;
  display: block; /* Para evitar espacios extra debajo de la imagen */
  margin: 1rem auto; /* Centrar la imagen horizontalmente */
}

.bg-primary {
  background-color: var(--primary-accent);
}

.text-primary {
  color: var(--primary-accent);
}

.navbar {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(230, 230, 230);
  border-width: 1px;
  border-style: solid;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  backdrop-filter: blur(8px);
  z-index: 50;
}

/*
.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  animation: slideDown 0.35s ease-out;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgb(199, 199, 199);
  border-width: 1px;
  border-style: solid;
  border-right-style: hidden;
  border-left-style: hidden;
}
*/

.topbar {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--body-background);
}

/* Estilos específicos para los enlaces del componente NavLink */
.navbar-link li a {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 5px !important;
  text-transform: uppercase !important;
  transition: color 0.3s ease;
}

@layer utilities {
  .hover\:text-secondary:hover {
    color: var(--secondary-accent);
  }
}

/* Estilos para el botón "Agenda una Reunión" */
li.agenda button {
  letter-spacing: normal;
  color: var(--blanco);
}

.navbar-link:hover {
  color: var(--primary-accent);
}

input[type='tel'] {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.PhoneInput--focus > .PhoneInputInput input[type='tel'] {
  background-color: transparent !important;
  border: 0 !important;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow-x: visible;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

a[href^="mailto:"] {
  color: #e51f52;
  text-decoration: underline;
  transition: color 0.2s;
}
a[href^="mailto:"]:hover {
  color: #e51f52;
  text-decoration: underline;
}
