---
// Eliminamos el import de Button
---
<>
  <button id="myBtn" class="inline-block px-6 py-3 font-semibold rounded-lg shadow transition-colors duration-200 text-center bg-primary-600 text-white border border-primary-600 hover:bg-white hover:text-primary-600 hover:border-primary-600 fixed bottom-8 right-8 z-50 hidden" aria-label="Volver arriba">
    <svg
      class="w-6 h-6 text-white dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    > 
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m5 15 7-7 7 7"></path>
    </svg>
  </button>
  <script src="/scripts/backtotop.js" is:inline></script>
</>
