---
// import { CldImage } from "astro-cloudinary";
---

<a href="/" class="text-xl font-bold">
  <img
    src="https://res.cloudinary.com/dkb9jfet8/image/upload/v1741038442/logo-v3_walxs9.svg"
    alt="Logo de IA Punto Soluciones Tecnológicas"
    class="w-24 md:w-36 h-auto logo"
    loading="lazy"
  />
</a>
