---
import { CldImage } from "astro-cloudinary";
---

<a href="/" class="text-xl font-bold">
  <CldImage
    src="logo-v3_walxs9"
    alt="Logo de IA Punto Soluciones Tecnológicas"
    width="180"
    height="auto"
  />
</a>
