---
import logo from "../../assets/logos/logo-negro.svg";
---

<a href="/" class="text-xl font-bold">
  <img
    src={logo.src}
    alt="Logo de IA Punto Soluciones Tecnológicas"
    width="180"
    height="auto"
  />
</a>
