---
import Layout from "../../layouts/Layout.astro";
import CategorySection from "../../components/common/CategorySection.astro";
import group from "@/assets/images/group.svg";
---

<Layout pageTitle="La Agencia">
  <CategorySection
    title="Una agencia de Inteligencia Artificial para la transformación digital"
    subtitle="¿Qué es IA Punto?"
    description="IA Punto es una agencia de IA diseñada para ayudar a las empresas a implementar soluciones de inteligencia artificial (IA) en sus operaciones. Con nuestras soluciones integrales, nuestras experiencias de cliente y nuestro compromiso con la innovación, nos ayudamos a crear valor y mejorar la experiencia de los clientes."
    image={group}
    alt="Imagen de portada"
  />
  <section>
    <div class="container mx-auto py-4 mt-[100px]">
      <h1></h1>
    </div>
  </section>
</Layout>
