---
import Layout from "../../layouts/Layout.astro";
import CategorySection from "../../components/common/CategorySection.astro";
import group from "@/assets/images/group.svg";
---

<Layout pageTitle="La Agencia">
  <CategorySection
    title="Donde la IA y la Creatividad Hacen ¡Boom!"
    subtitle="IA Punto"
    description="¿Cansado de lo de siempre? ¡Nosotros también! En IA Punto, no hacemos marketing digital normal; ¡creamos explosiones de creatividad que te dejarán sin aliento! Somos un equipo de ¡Locos geniales!, obsesionados con la tecnología y el marketing, y con una misión en común: ¡hacer que tu negocio se convierta en la estrella más brillante del universo digital!"
    image={group}
    alt="Imagen de portada"
  />
  <section class="py-20 bg-gray-100">
    <div class="mx-auto mt-4 lg:text-center">
      <h1
        class="text-center mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balancet"
      >
        No somos los típicos "Gurús de la IA".
      </h1>
      <p
        class="text-center mt-6 text-2xl text-gray-500 font-light leading-8 tracking-wider"
      >
        ¡Vivimos, respiramos y dominamos la inteligencia artificial! <br />La
        usamos para crear estrategias que no solo funcionan, ¡sino que te hacen
        decir: "¡Wow!"
      </p>
      <p
        class="text-center text-2xl text-gray-500 font-light leading-8 tracking-wider"
      >
        <b>¿Nuestro secreto?</b> ¡Combinamos la potencia de la IA con la creatividad
        más salvaje! <br />Así, convertimos tus desafíos en oportunidades que te
        harán ¡brillar como un millón de soles!
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <div
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-600">
            <div
              class="absolute top-0 left-0 flex size-12 items-center justify-center rounded-lg bg-[#E51F52]"
            >
              <svg
                class="w-6 h-6 text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"
                ></path>
              </svg>
            </div>
            Pasión por la innovación
          </dt>
          <dd class="mt-2 text-base/7 text-gray-500">
            ¡Nos aburren las ideas comunes! Siempre estamos buscando lo nuevo,
            lo diferente, lo que hará que tu marca <b
              >¡Despegue como un cohete!</b
            >
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div
              class="absolute top-0 left-0 flex size-12 items-center justify-center rounded-lg bg-[#E51F52]"
            >
              <svg
                class="w-6 h-6 text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4.5V19a1 1 0 0 0 1 1h15M7 14l4-4 4 4 5-5m0 0h-3.207M20 9v3.207"
                ></path>
              </svg>
            </div>
            Obsesión por los resultados
          </dt>
          <dd class="mt-2 text-base/7 text-gray-500" ">
            ¡No nos conformamos con "bien"! Queremos que tus números hagan ¡BUM!
            Y no paramos hasta lograrlo.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div
              class="absolute top-0 left-0 flex size-12 items-center justify-center rounded-lg bg-[#E51F52]"
            >
              <svg
                class="w-6 h-6 text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                ></path>
              </svg>
            </div>
            Conexión total con el cliente
          </dt>
          <div class="mt-2 text-base/7 text-gray-500" ">
            ¡Nos metemos en tu piel! Entendemos tu visión, tus metas, tus
            sueños... ¡Y los hacemos realidad con una magia que te hará creer en
            lo imposible!
          </div>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div
              class="absolute top-0 left-0 flex size-12 items-center justify-center rounded-lg bg-[#E51F52]"
            >
              <svg
                class="w-6 h-6 text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-width="2"
                  d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"
                ></path>
                <path
                  stroke="currentColor"
                  stroke-width="2"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
              </svg>
            </div>
            Transparencia al 100%
          </dt>
          <dd class="mt-2 text-base/7 text-gray-500" ">
            ¡Aquí no hay trucos ni espejismos! Te contamos todo, con claridad y
            honestidad. Porque creemos en construir relaciones que duren más que
            un ¡PUM! de confeti.
          </dd>
        </div>
      </div>
    </div>
  </section>
</Layout>
