---
import Logo from "../Logo.astro";
import NavLink from "./NavLink.astro";
import DropdownMenu from "./DropdownMenu.astro";

const servicesMenuData = [
  {
    title: "DESARROLLO DIGITAL",
    links: [
      {
        href: "/web/",
        text: "Desarrollo Web",
        description: "Diseño y desarrollo web",
      },
      {
        href: "/mobile/",
        text: "Desarrollo Móvil",
        description: "Desarrollo de apps móviles",
      },
      {
        href: "/automation/",
        text: "Automatización Inteligente",
        description: "Automatización de flujos",
      },
    ],
  },
  {
    title: "MARKETING DIGITAL",
    links: [
      {
        href: "/seo/",
        text: "SEO",
        description: "Posicionamiento en buscadores",
      },
      {
        href: "/ads/",
        text: "Publicidad Online con IA",
        description: "Publicidad online impulsada con IA",
      },
      {
        href: "/social/",
        text: "Marketing de Contenidos",
        description: "Marketing de contenidos con IA",
      },
    ],
  },
  {
    title: "OPTIMIZACIÓN Y GESTIÓN",
    links: [
      {
        href: "/conversion/",
        text: "CRO",
        description: "Optimización de conversiones",
      },
      {
        href: "/chatbot/",
        text: "Chatbots Inteligentes",
        description: "Chatbots que responden con IA",
      },
      {
        href: "/odoo/",
        text: "Odoo ERP",
        description: "Implementación de Odoo",
      },
    ],
  },
];
---

<nav
  id="navbar"
  class="navbar bg-white py-4 relative top-0 z-50 transition-all duration-300"
>
  <div class="container w-4/5 mx-auto px-4 flex justify-between items-center">
    <Logo />
    <ul class="flex space-x-6 items-center">
      <li class="navbar-link"><NavLink href="/about" text="LA AGENCIA" /></li>
      <li class="navbar-link">
        <DropdownMenu buttonText="SERVICIOS" data={servicesMenuData} />
      </li>
      <li class="navbar-link"><NavLink href="/blog" text="IDEAS 360" /></li>
      <li class="navbar-link"><NavLink href="/contact" text="CONTACTO" /></li>
      <li class="agenda">
        <button
          class="bg-[#E51F52] text-white px-4 py-2 rounded hover:bg-[#c71a48]"
          >Agenda una Reunión</button
        >
      </li>
    </ul>
  </div>
</nav>

<script>
  import { throttle } from "lodash-es";

  const navbar = document.getElementById("navbar");
  const topbar = document.getElementById("topbar");
  const topbarHeight = topbar?.offsetHeight || 0;

  const handleScroll = throttle(() => {
    const currentScrollPos = window.scrollY;

    // Maneja el topbar
    if (topbar) {
      if (currentScrollPos > topbarHeight) {
        topbar.style.transform = `translateY(-${topbarHeight}px)`;
        navbar?.classList.add(
          "fixed",
          "top-0",
          "left-0",
          "right-0",
          "shadow-md"
        );
      } else {
        topbar.style.transform = "translateY(0)";
        navbar?.classList.remove(
          "fixed",
          "top-0",
          "left-0",
          "right-0",
          "shadow-md"
        );
      }
    }
  }, 100);

  window.addEventListener("scroll", handleScroll);
</script>
