---
// src/components/layout/Header/NavLink.astro
const { href, text } = Astro.props;
const active = Astro.url.pathname === href;
---

<a
  href={href}
  class={`tracking-widest uppercase text-[15px] text-gray-600 hover:text-primary transition-colors duration-300 ${
    active ? 'text-primary font-bold' : ''
  }`}
>
  {text}
</a>
