---
import { Icon } from "astro-icon/components";
---

<div id="topbar" class="topbar transition-transform duration-300">
  <div class="container w-4/5 mx-auto px-4 py-2 flex justify-between items-center">
    <p>YOUR LOCAL DIGITAL MARKETING AGENCY</p>
    <div class="flex items-center space-x-4 ">
        <a href="#" class="flex items-center space-x-4 mr-4"><Icon name="material-symbols:chat-bubble-outline" class="mr-2 w-5 h-5"/> +57 316 376 9935</a>
        <a href="mailto:hola@iapunto.com" class="flex items-center space-x-4 mr-6"><Icon name="material-symbols:mail-outline" class="mr-2 w-5 h-5"/> hola@iapunto.com</a>
        <a href="#"><Icon name="logos:facebook" class="w-6 h-6"  /></a>
        <a href="#"><Icon name="logos:x" class="w-6 h-6"/></a>
        <a href="#"><Icon name="logos:instagram-icon" class="w-6 h-6"/></a>
        <a href="#"><Icon name="logos:linkedin-icon" class="w-6 h-6"/></a>
        <a href="#"><Icon name="logos:github-icon" class="w-6 h-6"/></a>
    </div>
  </div>
</div> 