---
import { Icon } from 'astro-icon/components';
---

<div id="topbar-container" class="topbar transition-transform duration-300 border-b border-gray-200 bg-white/80 backdrop-blur-sm shadow-sm hidden md:block">
  <div
    class="container w-4/5 mx-auto px-4 py-1 flex justify-between items-center"
  >
    <div class="flex items-center space-x-4 mt-2">
      <p class="flex items-center space-x-2 mr-2 text-xs md:text-sm text-gray-500 uppercase tracking-wide hover:text-[#E51F52] transition-colors duration-200 cursor-pointer">
        Soluciones de Inteligencia Artificial para Empresas
      </p>
    </div>
    <div class="flex items-center space-x-4">
      <a href="#" class="flex items-center space-x-2 mr-2 text-xs md:text-sm text-gray-500 hover:text-[#E51F52] transition-colors duration-200">
        <Icon name="material-symbols:chat-bubble-outline" class="w-4 h-4 mr-1" /> +57 316 376 9935
      </a>
      <a href="mailto:hola@iapunto.com" class="flex items-center space-x-2 mr-4 text-xs md:text-sm text-gray-500 hover:text-[#E51F52] transition-colors duration-200">
        <Icon name="material-symbols:mail-outline" class="w-4 h-4 mr-1" /> hola@iapunto.com
      </a>
      <div class="flex space-x-2 sm:justify-center">
        <a href="https://www.facebook.com/iapunto" class="hover:text-[#E51F52] text-gray-400">
          <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#6b7280"><path d="M17 2H14C12.6739 2 11.4021 2.52678 10.4645 3.46447C9.52678 4.40215 9 5.67392 9 7V10H6V14H9V22H13V14H16L17 10H13V7C13 6.73478 13.1054 6.48043 13.2929 6.29289C13.4804 6.10536 13.7348 6 14 6H17V2Z" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </a>
        <a href="https://www.instagram.com/iapunto" class="hover:text-[#E51F52] text-gray-400">
          <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#6b7280"><path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16Z" stroke="#6b7280" stroke-width="1.5"></path><path d="M17.5 6.51L17.51 6.49889" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </a>
        <a href="https://x.com/iapunto" class="hover:text-[#E51F52] text-gray-400">
          <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#6b7280"><path d="M16.8198 20.7684L3.75317 3.96836C3.44664 3.57425 3.72749 3 4.22678 3H6.70655C6.8917 3 7.06649 3.08548 7.18016 3.23164L20.2468 20.0316C20.5534 20.4258 20.2725 21 19.7732 21H17.2935C17.1083 21 16.9335 20.9145 16.8198 20.7684Z" stroke="#6b7280" stroke-width="1.5"></path><path d="M20 3L4 21" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round"></path></svg>
        </a>
        <a href="https://www.linkedin.com/company/iapunto" class="hover:text-[#E51F52] text-gray-400">
          <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#6b7280"><path d="M21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8Z" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7 17V13.5V10" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 17V13.75M11 10V13.75M11 13.75C11 10 17 10 17 13.75V17" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7 7.01L7.01 6.99889" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </a>
        <a href="https://www.youtube.com/@iapunto" class="hover:text-[#E51F52] text-gray-400">
          <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#6b7280"><path d="M14 12L10.5 14V10L14 12Z" fill="#6b7280" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2 12.7075V11.2924C2 8.39705 2 6.94939 2.90549 6.01792C3.81099 5.08645 5.23656 5.04613 8.08769 4.96549C9.43873 4.92728 10.8188 4.8999 12 4.8999C13.1812 4.8999 14.5613 4.92728 15.9123 4.96549C18.7634 5.04613 20.189 5.08645 21.0945 6.01792C22 6.94939 22 8.39705 22 11.2924V12.7075C22 15.6028 22 17.0505 21.0945 17.9819C20.189 18.9134 18.7635 18.9537 15.9124 19.0344C14.5613 19.0726 13.1812 19.1 12 19.1C10.8188 19.1 9.43867 19.0726 8.0876 19.0344C5.23651 18.9537 3.81097 18.9134 2.90548 17.9819C2 17.0505 2 15.6028 2 12.7075Z" stroke="#6b7280" stroke-width="1.5"></path></svg>
        </a>
      </div>
    </div>
  </div>
</div>
