---
// Componente reutilizable
import type { CompanyLogo } from "../../lib/types/testimonials";
import { Image } from "astro:assets";

interface Props {
  logo: CompanyLogo;
}

const { logo } = Astro.props;
---

<div class="swiper-slide flex justify-center items-center h-24">
  <a href={logo.website} target="_blank" rel="noopener noreferrer">
    <Image
      src={logo.logoUrl}
      alt={`${logo.name} logo`}
      width={600}
      height={300}
      class="w-60 h-auto opacity-60 hover:opacity-100 transition-opacity"
    />
  </a>
</div>
