---
const { href, ctaText } = Astro.props;
---

<a href={href} class="text-[#E51F52] font-medium hover:text-[#c71a48] transition-colors duration-300 mt-auto inline-flex items-center pt-4">
    {ctaText}
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 ml-2"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
        ></path>
    </svg>
</a>