---
import heroImage from '../../../assets/images/hero-image.svg';
import Button from '../../common/Button.astro';
---

<section class="py-2 bg-white relative">
  <div
    class="container w-4/5 mx-auto grid grid-cols-1 lg:grid-cols-2 items-center"
  >
    {/* Columna izquierda - Contenido */}
    <div class="space-y-6">
      <span class="text-xl font-light text-gray-600 uppercase tracking-wider">
        Impulsando el futuro digital
      </span>

      <h1 class="text-5xl font-bold text-gray-900 leading-tight">
        <strong>Agencia de Marketing</strong> y <strong>Desarrollo Web</strong> con IA
      </h1>

      <p
        class="text-xl text-gray-600 font-light tracking-wider leading-8 pb-12 max-w-lg"
      >
        Somos una <strong>agencia de marketing</strong> especializada en <strong>desarrollo web</strong> y <strong> SEO</strong> con IA que genera resultados reales. Aumenta tus ventas, conecta con tu audiencia y lleva tu negocio al siguiente nivel.
      </p>

      <div>
        <Button text="Conoce los Servicios" href="/servicios" variant="primary" />
      </div>
    </div>

    {/* Columna derecha - Imagen */}
    <div class="relative">
      <img
        src={heroImage.src}
        alt={"Portada: Transforma tu negocio con la inteligencia artificial"}
        class="max-w-[780px] h-auto"
      />
    </div>
  </div>
</section>
