---
import ServiceGrid from "../../common/ServiceGrid.astro";
import { services } from "../../../lib/constants/services";
import Button from "../../common/Button.astro";
---

<section class="py-24">
  <div class="container w-4/5 mx-auto">
    <!-- Encabezado -->
    <div class="text-center mb-20">
      <h2 class="text-4xl md:text-5xl font-bold text-gray-900 mb-6">
        Explora Todas Nuestras Soluciones
      </h2>
      <p class="text-gray-600 text-lg max-w-3xl mx-auto">
        Descubre un abanico completo de soluciones digitales impulsadas por IA,
        diseñadas para impulsar tu crecimiento en línea. Desde la automatización
        de procesos hasta el desarrollo web y las campañas publicitarias
        inteligentes, te ofrecemos las herramientas que necesitas para alcanzar
        tus objetivos.
      </p>
    </div>

    <!-- Grid de servicios -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
      {services.map((service) => <ServiceGrid {...service} />)}
    </div>

    <!-- Botones -->
    <div class="flex flex-col md:flex-row justify-center gap-6 mt-16">
      <Button
        id="open-modal-btn-services"
        text="Agenda una Reunión Gratuita"
        variant="primary"
      />
      <Button
        text="Solicita una Cotización"
        href="/contacto"
        variant="secondary"
      />
    </div>
  </div>
</section>


